<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="Version" value="1.0"/>
      <add key="PageVersion" value="1"/>
      <add key="DebugerFlag" value="Y"/>
      <add key="UploadFilePath" value="~/ProgramImages/"/>
    </appSettings>
  
    <connectionStrings>
        <add name="DMSContext" connectionString="Server=;Database=;User ID=sa;Password=;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.6"/>
        <httpRuntime targetFramework="4.5.2"/>
        <sessionState mode="InProc" timeout="525600" cookieless="false"></sessionState>
        <pages enableViewState="false" enableViewStateMac="false" validateRequest="false" enableEventValidation="false">
            <controls>
                <add tagName="Header" tagPrefix="DMSC" src="~/UserControls/HeaderControl.ascx"/>
                <add tagName="Menu" tagPrefix="DMSC" src="~/UserControls/MenuControl.ascx"/>
                <add tagName="TopBar" tagPrefix="DMSC" src="~/UserControls/TopBarControl.ascx"/>
                <add tagName="Footer" tagPrefix="DMSC" src="~/UserControls/FooterControls.ascx"/>
            </controls>
        </pages>
    </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
